 body {
        background-color: #8A2BE2;
        margin: 0;
        font-family: Arial, sans-serif;
    }

    .container {
        text-align: center;
        margin-top: 50px; 
    }

    h1 {
        color: white;
        background-color: #8B4513; 
        padding: 40px 80px;
        border-radius: 10px; 
        margin-top: 50px; 
        
        cursor: default; 
        display: inline-block;
    }

    .quiz-box {
        background-color: #1E90FF;
        padding: 100px 200px;
        border-radius: 15px;
        margin: 0px auto 0 auto;
        text-align: center;
        width: fit-content; 
        box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    }

    .quiz-box p {
        color: white;
        font-size: 36px;
        margin: 10px 0 30px 0;
        
    }

  .buttons {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    justify-content: center;
    gap: 20px 30px;
}

button {
    background-color: #8B4513;
    color: white;
    border: none;
    padding: 20px 40px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 22px;
}
    button:hover {
        background-color: #A0522D;
    }
.skorDiv {
   background-color: brown;
   color: white;
   font-size: 30px;
   font-family: Arial, Helvetica, sans-serif;
   border: 2px solid black;
   border-radius: 10px;
   display: inline-block;
   width: 150px;
   height: 110px;
   text-align: center;
   line-height: 100px; 
   margin-left:30px;
   cursor:default;
}
